[user]
	name = Niko Wenselowski
	email = n.wenselowski@uib.de
	signingkey = CDD7636D
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
[alias]
	rmerge = merge --no-ff
